extends layout

block content
  h1 Books
  p
    a(class="button" href="/books/new") Create New book
    form(action="/books")
      label(for="search")
      button.button(type="submit" id="search" value="search") Search
      input(type="text" name="search" placeholder="Search by title,author,name,year...")

  table 
    thead 
      tr 
        th Title 
        th Author
        th Genre 
        th Year 
      each book in books 
        tr 
          td 
            a(href="/books/" + book.id)=  book.title
          td= book.author 
          td= book.genre 
          td= book.year

  div(class="pagination-button")
  ul.pagination
    

    //- while booksList.rows > 1 
    //-   li 
    //-     a(href=`?page=${booksList.count - 1}`) Previous

    - var i = 1;
    while i <= pages
      li
        a(href=`?page=${i}`)= i++

    //- while booksList.count < booksList.row
    //-   li 
    //-     a(href=`?page=${parseInt(booksList.count) + 1}`) Next 


  